<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fileSystemSection"
             type="FileSystemWatcherBCL.Configuration.FileSystemWatcherConfigSection, FileSystemWatcherBCL"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <fileSystemSection culture="ru-RU">
    <directories>
      <directory path="C:/Users/aziza"/>
    </directories>
    <rules defaultDir="C:/Users/aziza/Default">
      <rule filePattern="1.*" isOrderAppended="false" isDateAppended="false" destFolder="C:/Users/aziza/TextFolder"/>
      <rule filePattern="2.*" isOrderAppended="false" isDateAppended="true" destFolder="C:/Users/aziza/PictureFolder"/>
      <rule filePattern="3.*" isOrderAppended="true" isDateAppended="false" destFolder="C:/Users/aziza/DocumentFolder"/>
    </rules>
  </fileSystemSection>
</configuration>